/* ----DEFAULT ELEMENT STYLING START---- */
html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }
  
  body {
    /* Positioning */
    margin-bottom: 150px;
  
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
    /* Visual */
    background-color: #ededed;
  }
  
  /* Media query for body */
  @media only screen and (max-width: 767px) {
    /* Set background color to white on small screens */
    body {
      /* Visual */
      background-color: #fff;
    }
  }
  